.content-heading{
    font-family: 'Chewy', cursive;
    font-size:24px;
    border-bottom: solid 1px #d4ded9;
}
.form-class{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 20px;
    margin-left:20px;   
    }

.post-form{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 15px;
	margin-left: 15px;	
}

.radio-div{
    margin-top:18px;
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px;
}

.free-ad-radio{
    padding-left:90px !important;
}

.price{
    width:200px;
}

.price-checkbox{
    margin-left:15px !important;  
}

.ui-panel {
    color: #000;
}

.ui-panel.is-transparent {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.t-small {
  font-size: 12px;
  line-height: 1.5;
}

.ui-panel-block {
  padding: 1.7143rem;
}

.ui-panel.is-transparent>.ui-panel-block {
  background: 0 0;
}

.ads_tilte{ 
    height:auto; 
    border-bottom-left-radius:10px; 
    border-bottom-right-radius:10px; 
    padding-top:10px; 
    padding-bottom:10px; 
    padding-left:10px; 
    line-height:35px; 
    font-size:27px; 
    background:#82953f url(../images/foot-inverse.png); 
    font-family: 'Chewy', cursive; color:#FFF; text-shadow: 2px 2px 4px #000000; -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black; 
    }

.title-div{
    width: 100%
}

.post-btt{
    width: 20%;
    height: 50px;
}


