/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html, button, input, select, textarea {
	color: #222;
}
html {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
 background: #b3d4fc;
 text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
audio, canvas, img, video {
	vertical-align: middle;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
@font-face {
	font-family: 'Droid Sans';
	src: url(../fonts/s-BiyweUPV0v-yRb-cjciPk_vArhqVIZ0nv9q090hN8.woff2);
}
@font-face {
	font-family: 'Roboto Condensed';
	src: url(../fonts/b9QBgL0iMZfDSpmcXcE8nHm2hrkyco9jQ3NKMXpgOBg.woff2));
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /*-----------header CSS--------------*/
body {
	background:url(../images/bg.jpg) fixed;
	margin: 0;
	padding: 0;
}
header {
	background: url(../images/header-bg.png);
	height: 310px;
	margin: -44px 0px 0px 105px;
}

.lizard{ 
	width:291px; 
	height:460px; 
	position:absolute; 
	right:-89px; 
	top:195px; 
	background:url(../images/animal-lizard-right.png); 
	z-index:9;
	}

.head-left {
	background: url(../images/animal-parrot-left.png);
	background-repeat: no-repeat;
	height: 540px;
	width: 450px;
	margin: 44px 0px 0px -105px;
	position: absolute;
}
.head-right {
	background: url(../images/logo-x2.png);
	background-repeat: no-repeat;
	height: 60px;
	width: 300px;
	position: absolute;
	top: 96px;
	left: 525px;
}
/*-----------header CSS--------------*/	
/*-----------nav CSS--------------*/
.tp-nav {
	width: 87%;
	height: auto;
	margin: 0 auto;
	margin-top: -36px;
	position: relative;
}
.tp-nav-left, .tp-nav-right {
	padding: 0;
}
.tp-navbar-custm {
	border: 5px solid #e2b046;
	border-radius: 10px;
}
.tp-nav-nav li a {
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
}
.active a {
	background: #e7e7e7 !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.tp-all-btn {
	width: 100px;
	background: url(../images/menu_bg.png);
	border-radius: 10px;
	position: absolute;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
	right: 175px;
	top: 5px;
	height: 40px;
	padding: 10px;
	font-size: 16px;
	color: #FFF;
}
.tp-post-btn {
	width: 150px;
	background: url(../images/menu_bg.png);
	border-radius: 10px;
	position: absolute;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
	right: 10px;
	top: 5px;
	height: 40px;
	padding: 10px;
	font-size: 16px;
	color: #FFF;
}

.dropdown-menu li a
{
  color: #262626;
  text-decoration: none;

  font-weight:normal !important;
}
/*-----------nav CSS--------------*/	
/*-----------content CSS--------------*/
.tp-content {	
	width: 87%;
	margin: 0 auto;
	position: relative;
	border-radius: 10px;
}
/*-----------content CSS--------------*/
/*-----------content CSS--------------*/
footer {
	width: 87%;
	margin: 0 auto;
	position: relative;
	/*border-radius: 0px 0px 10px 10px;*/
	/*background: #FFFFFF;*/
}
.section-container{
	background : #fff;
	border-radius: 10px;
}
.conditions{
	color:#000;
}

.help-block{
  z-index: 1;
  background: #fbf6d5;
  border: solid 1px #dcb300;
  border-radius: 4px;
  color: #673500;
  width: 30%;
  margin-left: 15px;
  margin-right: 15px;
}

.section-rules{
	margin : 0 auto;
}

.tp-ftr-top {
	background: url(../images/footer-aquarium.png);
	height: 450px;
	margin-right: -20px;
}
.tp-ftr-btm {
	background: url(../images/footer-bg.png);
	height: 105px;
	background-repeat: no-repeat;
	background-size: 100%;
}
.tp-ftr-lnks {
	margin: 0 auto;
	width: 600px;
}
.tp-ftr-lnks ul {
	list-style-type: none;
	padding-top: 20px;
}
.tp-ftr-lnks ul li {
	text-decoration: none;
	float: left;
}
.tp-ftr-lnks ul li a {
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	color: #333;
	font-size: 12px;
}
.tp-ftr-ryt {
	text-align: center;
	font-weight: bold;
	top: 10px;
}
/*-----------content CSS--------------*/
/* ==========================================================================
   Key Frames moves
   ========================================================================== */
 @-webkit-keyframes moveLeft {
}
 @keyframes moveLeft {
}

/* ==========================================================================
   Key Frames moves
   ========================================================================== */

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width : 1200px) {
}

@media only screen and (max-width : 979px) {
}

@media only screen and (max-width : 767px) {
}

@media only screen and (max-width : 480px) {
}

@media only screen and (max-width : 320px) {
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
 *text-indent: -9999px;
}
.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}
.hidden {
	display: none !important;
	visibility: hidden;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.invisible {
	visibility: hidden;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
 *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
* {
	background: transparent !important;
	color: #000 !important;
	box-shadow: none !important;
	text-shadow: none !important;
}
a,  a:visited {
	text-decoration: underline;
}
a[href]:after {
	content: " (" attr(href) ")";
}
abbr[title]:after {
	content: " (" attr(title) ")";
}
.ir a:after,  a[href^="javascript:"]:after,  a[href^="#"]:after {
	content: "";
}
pre,  blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}
thead {
	display: table-header-group;
}
tr,  img {
	page-break-inside: avoid;
}
img {
	max-width: 100% !important;
}
@page {
	margin: 0.5cm;
}
p,  h2,  h3 {
	orphans: 3;
	widows: 3;
}
h2,  h3 {
	page-break-after: avoid;
}
}
s