/*New style for post-ad*/
html {
  font-family: Arial,Helvetica,sans-serif;
  }
 .pet_buttons_blue{
 	background-color: rgb(0,22,44);
 }

 input[type='radio']{
 	  /*margin-left: 20px !important;*/
 	  position: relative !important;
 }

.navbar{
 	width: 87%;
 }