body{ background:url(../images/bg.jpg) fixed; margin:0; padding:0;}

#wrapper{ width:100%; height:auto;  margin:0px auto;}
#wrapper:after { content: '.'; display: block; clear: both; visibility: hidden; height: 0; line-height: 0;}
#header{ height:230px; width:100%; margin:0px auto; background:url(../images/header-bg.png) center;}
#header #site_title{ width:40%; height:100px; margin:0px auto; padding-top:70px !important; line-height:100px; text-align:center; font-size:34px;}
#header #parrot{ width:452px; height:529px; position:absolute; left:0; top:0px; background:url(../images/animal-parrot-left.png); z-index:-1;}
#lizard{ width:291px; height:460px; position:absolute; right:0; top:675px; background:url(../images/animal-lizard-right.png); z-index:9;}
#cat{ width:166px; height:306px; position:absolute; right:-5px; top:1225px; background:url(../images/animal-cat-right.png) left; z-index:1;}
#dog{ width:225px; height:331px; position:absolute; left:-90px; top:1225px; background:url(../images/animal-dog-left.png); z-index:1;}

.post_ad_btt{ width:150px; background:url(../images/menu_bg.png); border-radius:10px; position:absolute; font-weight:bold; text-align:center; line-height:20px; right:10px; top:5px; height:40px; padding:10px; font-size:16px; color:#FFF;}

.all_ad_btt{ width:100px; background:url(../images/menu_bg.png); border-radius:10px; position:absolute; font-weight:bold; text-align:center; line-height:20px; right:175px; top:5px; height:40px; padding:10px; font-size:16px; color:#FFF;}

#slider_main{ width:87%;  height:486px; margin:0px auto; border:5px #FFFFFF solid; border-radius:10px; margin-bottom:40px;}

#ads_tilte{ width:100%; height:auto; border-bottom-left-radius:10px; border-bottom-right-radius:10px; padding-top:10px; padding-bottom:10px; padding-left:10px; line-height:35px; font-size:26px; background:#82953f url(../images/foot-inverse.png); font-family: 'Chewy', cursive; color:#FFF; text-shadow: 2px 2px 4px #000000; -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black; }

#ads_tilte_blue{ width:100%; height:auto; border-bottom-left-radius:10px; border-bottom-right-radius:10px; padding-top:10px; padding-bottom:10px; padding-left:10px; line-height:35px; font-size:26px; background:#78b2e4 url(../images/foot-inverse.png); font-family: 'Chewy', cursive; color:#FFF; text-shadow: 2px 2px 4px #000000; -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black; }

#services_slider{ width:100%; height:auto; float:left; padding-bottom:30px;}
#envilop{ width:100%; height:270px; float:left; background:url(../images/envelope.png) center no-repeat; margin-top:20px; }

.input_text{height:45px; width:70%; margin-left:15%; margin-top:12%; float:left; border: 5px solid #8bd7e0;
  font-size: 16px;
  color: #676767;
  height: 67px;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
  -webkit-box-shadow: 0 15px 16px rgba(178, 216, 219, 0.47);
  -moz-box-shadow: 0 15px 16px rgba(178, 216, 219, 0.47);
  box-shadow: 0 15px 16px rgba(178, 216, 219, 0.47); padding-left:10px;}

.error_msg{ padding:5px;  width:150px; float:left; height:25px; font-size:12px; background:#F00; border-radius:5px; color:#FFF;}
.field_div{ width:90%; height:auto; float:left;}

#footer{ height:80px; width:100%; margin:0px auto; border:#FFF 5px solid; border-radius:10px; background:url(../images/footer-bg.png);}

#footer #footer_links{ width:600px; height:25px; margin:0px auto; line-height:25px; margin-top:15px;}
#footer #footer_links ul { list-style:none; line-height:25px;   }
#footer #footer_links ul li { float:left; display:inline; line-height:25px; }
#footer #footer_links ul li a { padding-left:10px; padding-right:10px; text-decoration:none; color:#333; font-size:12px;}
#footer #footer_links ul li a:hover{ color:#06C;}

#footer #ftext { width:100%; text-align:center; height:30px; line-height:30px; color:#333; font-weight:bold; font-size:14px;}

label{ line-height:5px; margin-top:7px;}
.title_cls{ width:97%; height:auto; float:left; font-size:18px; font-weight:bold;   border-bottom:#999 dashed 1px; margin:20px; line-height:30px;}
h3{ width:97%; height:auto; float:left; font-size:18px; font-weight:bold;   border-bottom:#999 dashed 1px; margin:20px; line-height:30px;}
.txt_normal{ width:50%; margin:20px; float:left; margin-top:-10px; height:40px; padding:10px; font-size:16px; color:#333;}
input[type='checkbox']{ width:15px; float:left; margin-left:30px; margin-top:-5px;  padding:10px; font-size:16px; color:#333;}
.file_style{ margin-top:12px; margin-left:10px; font-size:12px;}
.btt_normal{ width:10%; margin-left:20px; margin-bottom:30px; border:none;  margin-top:-10px; background:#09C; height:40px; padding:10px; font-size:16px; color:#FFF;}
select{ width:50%; margin:20px; float:left; margin-top:-10px; height:40px; padding:10px; line-height:40px; font-size:16px; color:#333;}
textarea{ width:50%; margin:20px; float:left; margin-top:-10px; height:125px; padding:10px; line-height:15px; font-size:16px; color:#333;}

#stories_image{ width:40%; height:250px; float:left; margin:30px; border-radius:10px; border:#CCC 5px solid; -webkit-box-shadow: 4px 6px 17px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 6px 17px -2px rgba(0,0,0,0.75);
box-shadow: 4px 6px 17px -2px rgba(0,0,0,0.75);}

.error{ border:#F00 1px solid !important;  }

#story_descption{ width:95%; text-align:justify; height:auto; float:left; margin:30px; }

/*input[type='radio']{ width:30px; height:20px; font-size:18px; margin-left:20px;}*/

#vet_questions{ width:95p%; padding:20px; float:left; font-size:24px; font-weight:bold;}
#vet_answer{ width:100%; text-align:justify; height:auto; float:left; margin-bottom:20px; padding-left:30px; padding-right:30px; }

label {
	width:90%;
    padding-left: 15px;
	font-weight:normal;
	font-size:13px;
}

.contact_box{ width:100%; height:auto; float:left; margin-bottom:10px;  }
.contact_box .icons_contacts{ margin-left:10px; width:35px; width:35px; float:left;}
.contact_box .contacts{ width:80%; padding-left:10px; font-weight:bold; color:#999; text-align:left; line-height:35px; font-size:16px; height;35px; float:left;}

#ad_view{ width:830px; height:auto; float:left; margin-top:20px; border:#CCC 1px solid;}
#ad_view #loc_and_details{ width:90%; margin:10px; height:30px; float:left; line-height:30px; color:#666; font-size:14px;}
#ad_view #slides{ width:500px; height:400px; float:left; margin:25px; margin-top:10px !important;margin-bottom:10px !important;  }
#ad_view #details { width:780px; margin:20px; height:auto; margin-top:10px !important; float:left; margin-top:20px;  color:#333; font-size:14px; }

.display_true{ display:block !important;}
.display_false{ display:none !important;}

.button_text{
	border-radius:10px; border:none; text-align:center; height:40px; width:250px; margin-top:1%; margin-left:35%;   position: relative;
  display: inline-block;
  outline: none;
  vertical-align: top;
  height: 52px;
  line-height: 44px;
  padding: 0 30px;
  margin-bottom: 10px;
  border: 3px solid #ffffff;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  border-radius: 26px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  white-space: nowrap;
  text-shadow: 0 1px 1px rgba(45, 54, 8, 0.32);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2), inset 8px 0 10px rgba(255, 255, 255, 0.26), inset -8px 0 10px rgba(255, 255, 255, 0.26);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2), inset 8px 0 10px rgba(255, 255, 255, 0.26), inset -8px 0 10px rgba(255, 255, 255, 0.26);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2), inset 8px 0 10px rgba(255, 255, 255, 0.26), inset -8px 0 10px rgba(255, 255, 255, 0.26);
  background: #98ae18;
  background: -moz-linear-gradient(top, #c8e230 0%, #98ae18 36%, #98ae18 82%, #b7d21d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c8e230), color-stop(36%, #98ae18), color-stop(82%, #98ae18), color-stop(100%, #b7d21d));
  background: -webkit-linear-gradient(top, #c8e230 0%, #98ae18 36%, #98ae18 82%, #b7d21d 100%);
  background: -o-linear-gradient(top, #c8e230 0%, #98ae18 36%, #98ae18 82%, #b7d21d 100%);
  background: -ms-linear-gradient(top, #c8e230 0%, #98ae18 36%, #98ae18 82%, #b7d21d 100%);
  background: linear-gradient(to bottom, #c8e230 0%, #98ae18 36%, #98ae18 82%, #b7d21d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8e230', endColorstr='#98ae18', GradientType=0);}




.pet_buttons{ width:150px; line-height:35px; border-radius:5px; margin-left:30px; margin-bottom:5px; font-weight:bold; float:left; height:35px; background:#91a156; text-align:center; color:#FFF; text-shadow: 2px 2px 4px #000000; -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black; }

.pet_buttons_blue{ width:150px; line-height:35px; border-radius:5px; margin-left:30px; font-weight:bold; float:left; height:35px; background:#5f78c9; text-align:center; color:#FFF;text-shadow: 2px 2px 4px #000000; -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;  }





.radius_cl{ border-radius:10px;}

#ads{ width:98%; margin-right:1%; height:110px; float:left; border:#CCC 1px solid; margin-bottom:10px; margin-top:10px;}
#ads #thumb{ width:100px; height:90px; margin:10px; float:left; }
#ads #ads_title{ width: 200px; height:auto; font-weight:bold; max-height:35px; margin-top:10px; float:left; line-height:20px; font-size:14px; color:#069; text-transform:capitalize;}
#ads #ads_info{ width: 200px; height:20px; margin-top:5px; float:left; line-height:20px; font-size:12px; color:#333;}
#ads #price{ width: 200px; height:35px; margin-top:0px; font-weight:bold; float:left; line-height:35px; font-size:14px; color:#333;}



.effect6
{
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

#slideshow { 
    margin: 0px auto; 
    position: relative; 
    width: 530px; 
    height: 240px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}
#slideshow1 { 
    margin: 0px auto; 
    position: relative; 
    width: 530px; 
    height: 240px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow1 > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}




/*
 * Lean Slider v1.0.1
 * http://dev7studios.com/lean-slider
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

.lean-slider {
    position: relative;
    *zoom: 1;
}
.lean-slider:before,
.lean-slider:after {
    content: " ";
    display: table;
}
.lean-slider:after {
    clear: both;
}

.lean-slider-slide {
    float: left;
    width: 100%;
    margin-right: -100%;
    display: none;
}
.lean-slider-slide.current { display: block; }
/*
 * Lean Slider Sample Styles
 * http://dev7studios.com/lean-slider
 */
 
.slider-wrapper { 
    position: relative; 
    background: #fff url(images/loading.gif) no-repeat 50% 50%;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.4);
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
}
.lean-slider { overflow: hidden; }
.lean-slider-slide {
    display: block;
    position: relative;
    opacity: 0;
    -webkit-transition: opacity 0.6s linear;
    -moz-transition: opacity 0.6s linear;
    -ms-transition: opacity 0.6s linear;
    -o-transition: opacity 0.6s linear;
    transition: opacity 0.6s linear;
}
.lean-slider-slide.current { opacity: 1; }
.lean-slider-slide img { 
    display: block;
    width: 100%;
	height:400px;
}

#slider-direction-nav {
    position: absolute;
    left: 0;
    top: 47%;
    width: 100%;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    opacity: 0.2;
}
.slider-wrapper:hover #slider-direction-nav { opacity: 1; }
#slider-direction-nav a {
    float: left;
    display: block;
    width: 26px;
    height: 37px;
    background: url(images/arrows.png) no-repeat 0 0;
    text-indent: -9999px;
}
#slider-direction-nav .lean-slider-next {
    float: right;
    background-position: 100% 0;
}

#slider-control-nav {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    opacity: 0.2;
}
.slider-wrapper:hover #slider-control-nav { opacity: 1; }
#slider-control-nav a {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(images/bullets.png) no-repeat 0 0;
    text-indent: -9999px;
    margin: 0 3px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
#slider-control-nav a.active { background-position: 100% 0; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-width : 480px) {

    #slider-direction-nav,
	#slider-control-nav { opacity: 1; }

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	
	#slider-direction-nav,
	#slider-control-nav { opacity: 1; }

}


.tags a {
		float: left;
		position: relative;
		width: auto;
		height: 30px;
		margin-left: 20px;
		padding: 0 12px;
		line-height: 30px;
		background: #1f8dd6;
		color: #fff;
		font-size: 18px;
		font-weight: 600;
		text-decoration: none;
		margin-bottom:10px;		
	}
 
	.tags a:before {
		content: "";
		position: absolute;
		top: 0;		
		width: 0;
		height: 0;		
		border-style: solid;		
	}
	
	.tags a:after {
		content: "";
		position: absolute;
		top: 13px;
		width: 4px;
		height: 4px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		background: #fff;
		-moz-box-shadow: -1px -1px 2px #004977;
		-webkit-box-shadow: -1px -1px 2px #004977;
		box-shadow: -1px -1px 2px #004977;
	}
	
	/* Add rounded corners to right end of the anchor tag */
.price-tag a {		
		-moz-border-radius-bottomright: 4px;
		-webkit-border-bottom-right-radius: 4px;
		border-bottom-right-radius: 4px;
		-moz-border-radius-topright: 4px;
		-webkit-border-top-right-radius: 4px;
		border-top-right-radius: 4px;
	}
 
/* Position left and show only right border of triangle  */
.price-tag a:before {		
		left: -15px;	
		border-color: transparent #1f8dd6 transparent transparent;
		border-width: 15px 15px 15px 0;
	}
 
/* Fix the circle between anchor box and triangle left to it  */	
	.price-tag a:after {		
		left: -2px;
	}
	
 
/* Add rounded corners to left end of the anchor tag */	
	.post-tag a {		
		-moz-border-radius-bottomleft: 4px;
		-webkit-border-bottom-left-radius: 4px;
		border-bottom-left-radius: 4px;
		-moz-border-radius-topleft: 4px;
		-webkit-border-top-left-radius: 4px;
		border-top-left-radius: 4px;
	}
	
	/* Position right and show only left border of triangle  */
	.post-tag a:before {		
		right: -15px;	
		border-color: transparent transparent transparent #1f8dd6;
		border-width: 15px 0 15px 15px;
	}
	
	/* Fix the circle between anchor box and triangle right to it  */
	.post-tag a:after {		
		right: -2px;
	}
	
	.tags a:hover {
		background: #1d85ca;
	}
 
.price-tag a:hover:before {
		border-color: transparent #1d85ca transparent transparent;
	}
 
.post-tag a:hover:before {
		border-color: transparent transparent transparent #1d85ca;
	}