body{ font-family:Calibri;}
#wrapper{ height:auto; width:100%; }
#header{ height:100px; width:100%; float:left; color:#FFF; background:#2485bc; border:#039 1px solid; line-height:50px; font-size:24px;}
#left_navigation{ width:200px; height:auto; float:left; margin-top:10px;}
#left_navigation #item_title{ width:90%; line-height:35px; height:35px; float:left; text-align:left; padding-left:10px; background:#2485bc; color:#FFF;}
#left_navigation #item{ width:90%; border-bottom:#2485bc dashed 1px; margin-bottom:5px; line-height:20px; height:20px; float:left; text-align:left; margin-left:10px; color:#060;}

#right_navigation{ width:1000px; height:auto; float:left; margin-left:20px; margin-top:10px; }

#right_navigation #control_bar{ width:1000px; height:auto; float:left; margin-top:10px; margin-bottom:10px; }
#right_navigation #control_bar #button{ width:auto; height:30px; margin-top:10px; line-height:30px; color:#FFF; background:#2485bc; float:left; padding-left:10px; padding-right:10px; margin-left:10px;}
#right_navigation #control_bar #button2{ width:auto; height:30px; margin-top:10px; line-height:30px; color:#FFF; background:#09F; float:left; padding-left:10px; padding-right:10px; margin-left:10px;}
#slider_box{ width:250px; height:auto; max-height:210px; float:left; margin:10px; border:#2485bc 1px dashed;}
#del_button{ width:auto; height:25px; line-height:25px; color:#FFF; background:#2485bc; float:left; padding-left:10px; padding-right:10px; margin-left:0px;}
input[type="text"]{height:30px; border:#09C 1px solid; font-size:18px;}
select{ width:auto; height:30px; border:#09C 1px solid; font-size:18px;}
input[type="submit"]{ width:auto; height:30px; border:#09C 1px solid; font-size:18px;}

#title_bar{font-size:16px; float:left; border:#2485bc 1px solid; background:#cfecfc; color:#000; font-weight:bold; width:100%; padding:10px;}

table, th, td {}

